<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ConnectToBackbone</title>
  </head>
  <body>


  <script id='personTemplate' type='text/template'>
    <strong><%= name %></strong> (<%= age %>) - <%= occupation %>
  </script>

  <script src="./js/libs/jquery.js" ></script>
  <script src="./js/libs/underscore.js" ></script>
  <script src="./js/libs/backbone.js"></script>
  <script src="./js/script.js"></script>
  </body>
</html>
